.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.content {
    position: relative;
    background: white;
    border-radius: 12px;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* padding-bottom менше */
}

.close {
    position: absolute;
    /* position: fixed; */
    top: 1rem;
    right: 1.5rem;

    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    transition: all 0.2s;
    z-index: 10;
}

.close:hover {
    background: #f5f5f5;
    color: #333;
}